* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.home {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

.nav {
    width: 100%;
    height: 15%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_main {
    width: 250px;
    height: 70px;
    /* background-color: cyan; */
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.add {
    width: 250px;
    height: 70px;
    background-color: rgb(155, 33, 33);
    margin-right: 100px;
    border: solid white 2px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 90%;
    height: 84%;
    /* background-color: yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common {
    width: 30%;
    height: 95%;
    /* background-color: red; */
    border-radius: 50px;
    border: solid 5px white;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.top {
    width: 100%;
    height: 12%;
    /* background-color: cyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    width: 150px;
    height: 40px;
    /* background-color: yellow; */
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.count {
    width: 100px;
    height: 40px;
    /* background-color: yellow; */
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .task {
    width: 97%;
    height: 85%;
    /* background-color: blue; */
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .task .task1 {
    background-color: rgb(60, 58, 58);
    width: 100%;
    height: 22%;
    border-radius: 20px;
    cursor: grab;
}

.hover_over {
    border: dashed 5px white;
    scale: 1.05;
}

.task .task1 .taskName {
    width: 30%;
    height: 40%;
    /* background-color: red; */
    padding-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: white;
    padding-top: 10px;
}

.task .task1 .taskDescription {
    width: 100%;
    height: 59%;
    /* background-color: red; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(122, 117, 117);
    padding-left: 5px;
}

.modal.active {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 25, 25, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal_in {
    width: 400px;
    height: 300px;
    background: rgb(38, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.modal .modal_in .task_name {
    width: 340px;
    height: 70px;
    background: rgb(79, 79, 79);
    border-radius: 15px;
    border: none;
    padding-left: 5px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.modal .modal_in .task_desc {
    width: 340px;
    height: 90px;
    background-color: rgb(79, 79, 79);
    border-radius: 15px;
    border: none;
    padding-left: 5px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.modal .modal_in .add_btn {
    width: 150px;
    height: 50px;
    background: rgb(79, 79, 79);
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    font-size: 18px;
}

.modal.active .modal_exit{
    position: fixed;
    top: 25px;
    left: 25px;
    width: 120px;
    height: 50px;
    background-color: rgb(79, 79, 79);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(248, 12, 12);
    font-weight: 700;
}

.modal_exit:hover{
    cursor: pointer;
}