*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.home{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

.nav{
    width: 100%;
    height: 15%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_main{
    width: 250px;
    height: 70px;
    /* background-color: cyan; */
    margin-left: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.add{
    width: 250px;
    height: 70px;
    background-color: rgb(155, 33, 33);
    margin-right: 100px;
    border: solid white 2px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 90%;
    height: 84%;
    /* background-color: yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common{
    width: 30%;
    height: 95%;
    /* background-color: red; */
    border-radius: 50px;
    border : solid 5px white;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.top{
    width: 100%;
    height: 12%;
    /* background-color: cyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    width: 150px;
    height: 40px;
    /* background-color: yellow; */
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.count{
    width: 100px;
    height: 40px;
    /* background-color: yellow; */
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .task{
    width: 97%;
    height: 85%;
    /* background-color: blue; */
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .task .task1{
    background-color: rgb(60, 58, 58);
    width: 100%;
    height: 22%;
    border-radius: 20px;
    cursor: grab;
}

.hover_over{
    border: dashed 5px white;
    scale: 1.05;
}